* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

  color: white;
}
body {
  color: white;
}
body a:hover {
  color: aqua;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: #051129;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: auto;
}
div{
  margin: 10%;
}

.logo {
  position: relative;
  font-size: 25px;
  color: white;
  text-decoration: none;
  font-weight: 600;
}
.navbar a {
  display: inline-block;
  font-size: 25px;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
}
.navbar a:hover {
  color: #0ef;
}
.home{
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background: url(/sizepic.jpeg) ;
}
div {
  margin-left: 8%;
  margin-top: 15%;
  margin-right: 50%;
}
h3 {
  color: black);
}
h3 span{
  color: aqua;
}
h1 {
  color:  black;
  font-style: italic;
}
h3 {
  color: black;
}
p {
  color: black;
}
.home-sci {
  display: inline-flex;
  padding: 12px 40px;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: aqua;
  border: black;
  border-radius: 40%;
  font-size: 20px;

  text-decoration: none;
  margin: 30px 15px 30px 0;
}
.home-sci a:hover {
  background: white;
  color: #081b29;
  box-shadow: aqua;
}
.box {
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
}
.box :hover {
  background: white;
  color: #081b29;
  box-shadow: aqua;
}
.about{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}
.about-img img{
  padding-bottom: 20%;
  max-width:630px;
  height: auto;
  width: 100%;
  border-radius: 8px; 
}
.about-text h2{
  font-size: 60px;
}
.about h2 span{
  color: #0ef;
}